.main-container {
  max-width: 100%;
}

.main-container ul {
}

.main-container ul li {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.main-container .main-content {
  background-color: #fff;
  width: 500px;
}

.main-container li img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
