* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  background-color: rgb(82, 23, 81);
  padding: 10px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container ul {
  list-style: none;
  color: #fff;
}

#page-logo a {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(245, 243, 160);
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 1000;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
